<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.jd.sys.mapper.WarningThresholdMapper">
    <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.jd.sys.entity.WarningThreshold">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="threshold" property="threshold" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>
